<h1>Welcome to example.com, <%= @admin.first_name %></h1>
  <p>
    You have successfully signed up to example.com,
    your otp is: <%=
    @admin.otp %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>